<!-- CDNs CSS -->
{% for cdn in site.cdns.css %}
<link rel="stylesheet" href="{{ cdn }}">
{% endfor %}

<!-- Vendors CSS -->
{% for vendor in site.assets.css.vendors %}
<link rel="stylesheet" href="{{ vendor | relative_url }}">
{% endfor %}

<!-- CSS Principal -->
<link rel="stylesheet" href="{{ site.assets.css.main | relative_url }}">

<!-- CSS específico de página -->
{% if page.styles %}
{% for style in page.styles %}
<link rel="stylesheet" href="{{ style | relative_url }}">
{% endfor %}
{% endif %}

<!-- CSS específico de layout -->
{% if layout.styles %}
{% for style in layout.styles %}
<link rel="stylesheet" href="{{ style | relative_url }}">
{% endfor %}
{% endif %}