<div class="mb-4 p-3 rounded-3 shadow-sm pastel-box {{ include.class }}">
    {% if include.title %}
    <h4 class="h6 fw-semibold mb-3 text-dark">{{ include.title }}</h4>
    {% endif %}

    <div class="d-flex flex-wrap gap-2">
        {% for item in include.items %}
        {% assign color = item.color | default: '6c757d' %}
        <img
                src="https://img.shields.io/badge/-{{ item.name | uri_escape }}-{{ color }}?logo={{ item.logo | default: item.name | downcase | replace: ' ', '' }}&logoColor=white"
                alt="{{ item.name }}"
                class="badge-img"
        >
        </div>
        {% endfor %}
    </div>
</div>

