<section class="hero" data-theme-aware-images>
    <div class="particles-container" id="particles-js"></div>

    <div class="container hero-content">
        <div class="text-box">
            <h1 class="hero-title" data-i18n="hero_title">¡Hola! Soy Chispi</h1>
            <p class="hero-subtitle" data-i18n="hero_subtitle">Desarrolladora | Diseñadora | Creadora de contenido</p>
            <a href="#sobre-mi" class="btn btn-primary hover-effect" data-i18n="hero_button">Conóceme</a>
        </div>
    </div>
</section>